node_modules
coverage

# IntelliJ/WebStorm
.idea/*.iml
.idea/vcs.xml
.idea/misc.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/*.xml
.idea/typescript-compiler.xml

module1/tests/*.js
module1/tests/*.js.mappackage-lock.json
module1/package-lock.json
module1/build/
module1/dist/
module1/types/
module1/.awcache/
module1/lib/
module1/bin/
module1/src/**/*.js
module1/yarn-error.log
module1/doc
module1/doc/
module1/.prev.scrmd5
module1/.scrmd5


module2/tests/*.js
module2/tests/*.js.mappackage-lock.json
module2/package-lock.json
module2/build/
module2/dist/
module2/types/
module2/.awcache/
module2/lib/
module2/bin/
module2/src/**/*.js
module2/yarn-error.log
module2/doc
module2/doc/
module2/.prev.scrmd5
module2/.scrmd5


